html {
  --bg-color: #010;
  --text-color: #ddd;
  --link-color: #070;
  background:
    radial-gradient(circle at center, #00440080 0, rgb(from var(--bg-color) r g b / 0.75) 400px, rgb(from var(--bg-color) r g b / 0) 600px),
    url(../images/ornament.svg) 50% 50% repeat,
    linear-gradient(0deg, var(--bg-color), var(--bg-color));
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  box-sizing: border-box;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  font-family: "Trebuchet MS", system-ui, sans-serif;
  margin: 0 auto;
  max-width: 2000px;
  min-height: 100dvh;
  padding: 10px;
  text-align: center;
}

a {
  background-color: #0000;
  color: var(--link-color);

  @media (prefers-reduced-motion: no-preference) {
    transition: color 0.4s ease-in-out;
  }

  &:hover {
    color: hsl(from var(--link-color) h s calc(l + 10));
  }
}

.page-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  place-content: center;
}

.project-list {
  --shield-size: min(520px, 100vw - 3 * 3rem);
  background: url(../images/shield.svg) 50% 50% no-repeat;
  background-size: calc(var(--shield-size) * 0.85);
  display: grid;
  height: var(--shield-size);
  list-style: none;
  margin: 0 auto;
  padding: 3rem 0;
  place-content: center;
  width: var(--shield-size);

  > li {
    grid-area: 1 / 1;
    transform: rotateZ(var(--azimuth, 0deg)) translateY(calc(var(--shield-size) / -2));

    &:nth-child(1) {
      --azimuth: calc(0 * 1turn / 7);
    }
    &:nth-child(2) {
      --azimuth: calc(1 * 1turn / 7);
    }
    &:nth-child(3) {
      --azimuth: calc(2 * 1turn / 7);
    }
    &:nth-child(4) {
      --azimuth: calc(3 * 1turn / 7);
    }
    &:nth-child(5) {
      --azimuth: calc(4 * 1turn / 7);
    }
    &:nth-child(6) {
      --azimuth: calc(5 * 1turn / 7);
    }
    &:nth-child(7) {
      --azimuth: calc(6 * 1turn / 7);
    }
  }

  a {
    font: normal 3rem / 1 Impact, AvenirNextCondensed-Heavy, HelveticaNeue-CondensedBlack, "Ubuntu Condensed", sans-serif-condensed, system-ui, sans-serif;
    position: relative;
    text-decoration: none;

    @media (max-width: 512px) {
      font-size: 2rem;
    }

    small {
      display: flex;
      font-size: 14px;
      inset: auto 0 -0.5lh;
      justify-content: center;
      position: absolute;
      text-align: center;
      white-space: nowrap;

      @media (prefers-reduced-motion: no-preference) {
        transition: opacity 0.4s ease-in-out;
      }
    }

    &:not(:hover) small {
      opacity: 0;
    }
  }

  &:has(a:hover) a:not(:hover) {
    color: rgb(from var(--link-color) r g b / 0.3);
  }
}

.page-footer {
  color: rgb(from var(--text-color) r g b / 0.6);
  flex-shrink: 0;
  font-size: 0.8em;
  text-align: end;

  p {
    margin: 0;
  }
}
