@charset "UTF-8";

@import (inline) "../node_modules/normalize.css/normalize.css";

@base-font: "Trebuchet MS", Tahoma, Arial, sans-serif;
@bg-color: #010;
@text-color: #ddd;
@link-color: #070;

html {
    background: @bg-color;
}

body {
    box-sizing: border-box;
    color: @text-color;
    display: flex;
    flex-direction: column;
    font-family: @base-font;
    margin: 0 auto;
    max-width: 2000px;
    min-height: 100vh;
    padding: 10px;
    text-align: center;
}

a {
    color: @link-color;
    transition: color 0.5s;

    &:hover,
    &.selected {
        color: lighten(@link-color, 10%);
    }
}

.hidden {
    display: none !important;
}

.message {
    font: normal 1.2em / 1.7 Arial, sans-serif;
    padding: 20px 0;
    text-align: center;
}

@keyframes spin {
    100% {
        transform: rotate(1turn);
    }
}

.fetch-message::before {
    animation: spin linear 1.5s infinite;
    border: 7px solid;
    border-color: #070 #040 #040;
    border-radius: 50%;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 45px;
    margin: 0 auto 10px;
    width: 45px;
}

.error-message::before {
    background-color: #a00;
    background-image: linear-gradient(45deg, transparent 45%, @text-color 0, @text-color 55%, transparent 0), linear-gradient(135deg, transparent 45%, @text-color 0, @text-color 55%, transparent 0);
    border: 7px solid #a00;
    border-radius: 50%;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 45px;
    margin: 0 auto 10px;
    width: 45px;
}

.page-main {
    background: radial-gradient(circle at center, fade(#070, 50%) 0, fade(#070, 0%) min(300px, 40vw));
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    place-content: center;
}

.project-list {
    --shield-size: ~"min(520px, 100vw - 3 * 3rem)";
    background: url(../images/shield.svg) 50% 50% no-repeat;
    background-size: calc(var(--shield-size) * 0.85);
    display: grid;
    height: var(--shield-size);
    list-style: none;
    margin: 0 auto;
    padding: 3rem 0;
    place-content: center;
    width: var(--shield-size);

    > li {
        grid-area: 1 / 1;
        transform: rotateZ(var(--azimuth, 0deg)) translateY(calc(var(--shield-size) / -2));
    }

    a {
        font: normal 3rem / 1 Impact, AvenirNextCondensed-Heavy, HelveticaNeue-CondensedBlack, "Ubuntu Condensed", sans-serif-condensed, sans-serif;
        text-decoration: none;

        @media (max-width: 512px) {
            font-size: 2rem;
        }
    }
}

.page-footer {
    color: fade(@text-color, 60%);
    flex-shrink: 0;
    font-size: 0.8em;
    text-align: end;

    p {
        margin: 0;
    }
}
